<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="IronPdf" version="2020.12.3" targetFramework="net452" />
  <package id="IronPdf.Assets.Rendering.Windows" version="21.0.0" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net452" />
  <package id="Syncfusion.Compression.Base" version="18.4.0.31" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="18.4.0.31" targetFramework="net452" />
  <package id="Syncfusion.Pdf.WinForms" version="18.4.0.31" targetFramework="net452" />
</packages>